<!DOCTYPE html>
<html>
  <head>
	  <meta charset="UTF-8">
	  <title>Don't open</title>
    <link rel="stylesheet" href="../assets/Styles/styles.css"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="container">
      <div style="width:100%">
        <h2 class="class1">Información de registro</h2>
      </div>
      <div class="row bloque1">
        <div class="row center-block">
          <div class="col-md-3 col-md-offset-1">
            <img src="../assets/img/user.jpg" alt="Responsive image" width="40%">
          </div>
          <div class="col-md-7 text-justify">
            <p><strong>Reseña bibliográfica:</strong></p>
            <p>Laura desde el inicio era super awesome. Hasta el día de hoy no
              se conoce mortal que la iguale en awesomeness.</p>
            <p>Nació en 1991 de un padre super brutal y una madre increíblemente
              cool, en el centro de la ciudad de medellín,
            en la clínica con el mismo nombre.</p>
          </div>
        </div>
        <div class="row">
          <div class="row">
            <div class="col-md-2 col-md-offset-2 myform">
              <label class="form-group">Nombre completo:</label>
            </div>
            <div class="col-md-3 myform">
              <input type="text" class="form-control" id="fname" placeholder="Laura" disabled>
                <p class="help-block text-center">Nombres</p>
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" id=lname placeholder="Restrepo Vargas" disabled>
              <p class="help-block text-center">Apellidos</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2 col-md-offset-2 myform">
              <label for="bday">Fecha de nacimiento:</label>
            </div>
            <div class="col-md-2">
              <input type="datetime" class="form-control" id=dbay placeholder="91/12/10" disabled>
            </div>
            <div class="col-md-1 myform">
              <label for="gender">Sexo:</label>
            </div>
            <div class="col-md-2">
              <select name="gender" class="form-control" disabled>
                <option value="female">Femenino</Option>
              </Select>
            </div>
          </div><br>
          <div class="row">
            <div class="col-md-1 col-md-offset-3 myform">
              <label for="user">Usuario:</label>
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" id=user placeholder="laurestrepov" disabled><br>
            </div>
            <div class="col-md-1 myform">
              <label for="pswd">Contraseña:</label>
            </div>
            <div class="col-md-2">
              <input type="password" class="form-control" id=pswd disabled><br>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1 col-md-offset-3 myform">
              <label for="email">Email:</label>
            </div>
            <div class="col-md-5">
              <input type="email" class="form-control" id="email" placeholder="correo@cosa.com" disabled>
            </div>
          </div>
        </div>
      </div><br>

    </div>
  </body>
</html>
