.class1 {
  text-align: center;
  color: #f5ecef;
  background-color: #0b6f67;
  font-size: 16 px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.centrado {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.derecha{
  text-align: right;
}

@media only screen and (max-width: 1000px){
  .myform {
    text-align: center;
  }
  .myform label{
    text-align: center;
  }
}
@media only screen and (min-width: 1000px){
  .myform {
    text-align: right;;
  }
  .myform label{
    text-align: right;
  }
}


.bloque1 {
  background-color: #c5ece7;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

#error{
  color: #9f2505;
  font-size: 12px;
  margin: auto;
}
